body{
    background-color: beige;
}

.block{
    line-height: 30px;
    margin:20px;
    text-indent: 30px;
    font-size: 16px;
}
.error{
    text-align: center;
    font-size: 20px;
    color: red;
}